.footer {
  width: 80%;
  padding: 15px;
  border-top: 1px solid #e4e4e4;
  color: var(--pink);
  display: flex;
  justify-content: center;
  align-items: center;
}

.github-icon {
  margin: 0 10px;
}
