.header {
  width: 80%;
  padding: 15px;
  border-bottom: 1px solid #e4e4e4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.header h1 {
  font-weight: 400;
  text-transform: uppercase;
  color: var(--pink);
}
