.main {
  margin: 1.5rem 0;
  width: 800px;
  background-color: #f9f9f9;
  padding: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 10px;
}

button {
  cursor: pointer;
  display: block;
  margin-left: auto;
  padding: 0.5rem 2rem;
  border: 1px solid var(--pink);
  border-radius: 5px;
  color: var(--pink);
  background-color: #f8f8ff;
  text-transform: uppercase;
  transition: all 0.39s ease;
}

button:hover {
  background-color: var(--pink);
  color: #f8f8ff;
}

.general-info,
.education,
.experience {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

h3 {
  color: var(--pink);
  margin-top: 15px;
}

input {
  border: 1px solid #c9c9c9;
  padding: 0.3rem;
  margin: 0.7rem;
  border-radius: 5px;
}
