.main {
  position: relative;
  margin: 1.5rem 0;
  width: 800px;
  background-color: #f9f9f9;
  padding: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 10px;
}

button {
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-bottom: 70px;
  padding: 0.5rem 2rem;
  border: 1px solid var(--pink);
  border-radius: 5px;
  color: var(--pink);
  background-color: #f8f8ff;
  text-transform: uppercase;
  transition: all 0.39s ease;
}

button:hover {
  background-color: var(--pink);
  color: #f8f8ff;
}

.profile-picture {
  position: absolute;
  top: -90px;
  left: 50%;
  transform: translate(-50%);
}

.general-info,
.education,
.experience {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.general-info h2 {
  margin: 30px auto;
  text-transform: uppercase;
}

.general-info p {
  margin: 15px auto;
  font-style: italic;
}

.education h2 {
  margin: 30px auto;
  text-transform: uppercase;
}

.education p {
  margin: 15px auto;
  font-style: italic;
}

.experience h2 {
  margin: 30px auto;
  text-transform: uppercase;
}

.experience p {
  margin: 15px auto;
  font-style: italic;
}

h3 {
  color: var(--pink);
  margin-top: 15px;
}

input {
  border: 1px solid #c9c9c9;
  padding: 0.3rem;
  margin: 0.7rem;
  border-radius: 5px;
}

.skills-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.skill-div {
  position: relative;
  background-color: var(--pink);
  padding: 10px 15px;
  border-radius: 10px;
  color: #f8f8ff;
  text-transform: capitalize;
}

.del-skill {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: gold;
  text-align: center;
  top: -10px;
  right: -10px;
  cursor: pointer;
  color: black;
}
